@import "@/assets/css/var.scss";

#__nuxt {
  max-width: 800px;
  margin: 0 auto;
}

.tag {
  padding: 2px 6px;
  margin: 0px 2px;
  background: $info-bg;
  border-radius: 2px;
  font-size: 12px;
  color: #999;
}

@keyframes imgLoading {
    from {background: #f6f6f6;}
    to {background: #f2f2f2;}
  }
