html, body {
  padding: 0;
  margin: 0;
  background: rgb(252, 251, 249);
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}


ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}
