@import "@/assets/css/var.scss";

// reset
html, body {
  padding: 0;
  margin: 0;
  background: $main-bg;
  color: $main-color;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}
